<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tictactoe</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <button id="new-game-button"> New Game</button>
    <div id="new-game-form" style="display: none;">
      <input type="text" id="game-name-input" placeholder="Name your game">
      <button id="create-game-confirm">Create</button>
      <button id="create-game-cancel">Cancel</button>
    </div>
    <button id="find-game-button">Find Game</button>
    <script src="/static/js/main.js"></script>

</body>
</html>
